.cart-container{
  display: grid;
  grid-template-columns: 4fr  1fr;
}
.summary{
  position: sticky;
  top: 0;
}
.order-container{
  background-color: #FFE0B3;
  
}
.clear-btn{
  background-color: #FF3030;
  color: rgb(224, 222, 217);
  border: none;
  height: 40px;
  width: 70%;
  border-radius: 10px;
  margin-left: 15%;
}
.review-btn{
  background-color: #4a2e99;
  color: rgb(224, 222, 217);
  border: none;
  height: 40px;
  width: 70%;
  border-radius: 10px;
  margin-left: 15%;
}
.clear-btn:hover{
  background-color: orange;
  color: black;
  
}
.review-btn:hover{
  background-color: orange;
  color: black;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 160px;
  padding-top: 80px;
}
.item-box{
  background-color: aliceblue;
  width: 100px;
  height: 40px;
}
@media (max-width: 500px) {
  .product-container{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    padding: 50px;
   
  }
  
  }
  @media only screen and (max-width: 1000px) and (min-width: 501px){
    .product-container{
      display: grid;
      grid-template-columns: repeat(2 ,1fr);
      gap: 2rem;
      padding: 50px;
     
    }
  }